---
import Image from "astro/components/Image.astro";
import Section from "../Section.astro";
import meImage from "../../assets/me.jpg";
---

<Section id="welcome-section">
  <div class="welcome">
    <div class="introduction__container">
      <Image src={meImage} alt="Emerson Warhman" width="400" height="400" class="rounded-full" />
      <div class="description">
        <h1 class="huge-font uppercase">Hi! My name is Emerson Warhman</h1>
<p class="mediu-font">I'm a Fullstack Web Developer with over <strong>2 years of experience</strong> in the industry. I'm currently working as a Frontend Developer at <a href="https://www.netlify.com/" target="_blank" rel="noopener noreferrer">Netlify</a>.</p>
        <p class="mediu-font">I've been working with Astro for a while now and I'm really enjoying it. I'm also a big fan of CSS and I love to learn new things.</p>
      </div>
    </div>
  </div>
</Section>

<style>
/* Welcome section */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.introduction__container {
  text-align: center;
  text-wrap: pretty;
  flex-direction: column;
  align-items: center;
}

img {
  width: 240px;
  height: 240px;
  clip-path: polygon(75% 0%, 95% 60%, 30% 100%, 5% 12%);
  shape-outside: polygon(75% 0%, 95% 60%, 30% 100%, 5% 12%);
  shape-margin: 30px;
  margin-bottom: 1rem;
}

h1 {
  text-wrap: balance;
  margin-bottom: 2.5rem;
}

p {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .introduction__container {
    text-align: left;
    margin-inline: 2.5rem;
  }

  img {
    float: right;
    width: 350px;
    height: 350px;
  }

  h1 {
    margin-top: 1rem;
  }
}
</style>
