---
import Section from "../Section.astro";
---

<Section id="welcome-section">
    <div class="introduction__container">
        <h1 class="huge-font">Hello! My name is Emerson Warhman</h1>
        <p class="subtitle medium-font">I'm a Front-end web developer</p>
    </div>
</Section>

<style>
/* Welcome section */

.introduction__container {
  text-align: center;
}

</style>