---
import Section from "../Section.astro";
---

<Section id="contact-section">
      <h2 class="huge-font title">Let's work together</h2>
      <button class="button big-font" id="contact-button">Email me</button>
      <div class="contact-links__container">
        <p class="description">You can also reach me on:</p>
        <ul class="no-bullet contact-links big-font">
          <li>
            <a
              href="https://www.linkedin.com/in/emersonwarhman/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/edwarhman" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/edwarhman" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
</Section>
<style>
/* contact section */

@media (min-width: 75em) {
  #contact-section .huge-font {
    font-size: 12rem;
    margin-top: 4rem;
  }
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

#contact-button {
  padding: 1.15em 1em;
  margin-top: 4rem;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.fab:hover {
  color: red;
}
</style>