---
import { getCollection } from "astro:content";
import ExperienceItem from "../ExperienceItem.astro";
import Section from "../Section.astro";
const allExperience = await getCollection("experience")
console.log({allExperience})
---

<Section id='experience-section'>
  <div class="experience">
    <h2 class="title uppercase">Experience</h2>
    <ol>
      {
        allExperience.map((experience)=> (
          <ExperienceItem experience={experience} />
        ))
      }
    </ol>
  </div>
</Section>

<style>
  h2 {
    margin-bottom: 2.5rem;
    text-align: center;
  }
  ol {
    border-left: 5px solid var(--main-color);
    list-style-type: none;
    margin-left: 4rem;
    padding-left: 5rem;
  }
  
  @media (min-width: 75em) {
    .experience {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: initial;
      padding-top: 1.5rem;
    }
  }
  
</style>
