---
import { getCollection } from "astro:content";
import ExperienceItem from "../ExperienceItem.astro";
import Section from "../Section.astro";
const allExperience = await getCollection("experience")
console.log({allExperience})
---

<Section id='experience-section'>
  <h2 class="big-font title">Experience</h2>
  <ol>
    {
      allExperience.map((experience)=> (
        <ExperienceItem experience={experience} />
      ))
    }
  </ol>
</Section>

<style>
  ol {
    border-left: 5px solid red;
    list-style-type: none;
    margin-left: 4rem;
    padding-left: 5rem;
  }
  
</style>
