---
import ExperienceItem from "../ExperienceItem.astro";
import Section from "../Section.astro";
---

<Section id='experience-section'>
      <h2 class="big-font title">Experience</h2>
      <ol>
        <ExperienceItem />
        <ExperienceItem />
        <ExperienceItem />
        <ExperienceItem />
      </ol>
      
</Section>
<style>
  ol {
    border-left: 5px solid red;
    list-style-type: none;
    margin-left: 4rem;
    padding-left: 5rem;
  }
  
</style>