---
import Section from "../Section.astro";
---

<Section id='projectsSection'>
      <h2 class="big-font title">My projects</h2>
      <p>
        Take a look at the projects I've worked recently using HTML, CSS and
        JavaScript.
      </p>

      <div class="projects container medium-font">
        <div class="project-card">
          <img
            class="project-image"
            src="images/calculator.png"
            alt="js calculator"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Js Calculator</h2>
              <p>
                A simple calculator for the web. Do your calculations quickly.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/yLoNNbY"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="images/guess-the-number.png"
            alt="guess the number"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Guess The Number</h2>
              <p>
                Can you guess the number before you run out of turns? Try it!
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/wvgwavX"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="./images/tic-tac-toe.png"
            alt="tic tac toe"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Tic Tac Toe Game</h2>
              <p>
                Multiplayer tic tac toe game for the web. Have a funny time with
                your friends.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/VwWEbzO"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="./images/javascript-documentation.png"
            alt="JavaScript documentation page"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>JavaScript Documentation Page</h2>
              <p>
                Know the basic concepts and behaviors of the programming
                language JavaScript.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/XWpzRrK"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
        <div class="project-card">
          <img
            class="project-image"
            src="./images/reaction-game.png"
            alt="reaction game"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Reaction Videogame</h2>
              <p>A simple multiplayer game of reaction.</p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/pen/zYdZONd"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
        <div class="project-card">
          <img
            class="project-image"
            src="./images/survey-form.png"
            alt="survey form"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Survey Form</h2>
              <p>Fake survey form for FreeCodeCamp.</p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/QWGqRYR"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
      </div>
      <button class="button">
        <a href="https://codepen.io/edwarhman" target="_blank">See more</a>
      </button>
</Section>
<style>
.projects.container {
  width: 100%;
  max-width: 1280px;
  margin-bottom: 3rem;
  padding: 0 2rem 0 2rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4vh;
}

.project-card {
  background-color: palegreen;
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 5px gray, -1px -1px 5px gray;
  border-radius: 4%;
  position: relative;
  overflow: hidden;
}

.project-card>* {
  position: absolute;
  top: 0;
  left: 0;
}

/* make a rectangular container */
.project-card::before {
  content: "";
  display: block;
  padding-top: 78%;
}

.description-container {
  height: 100%;
  width: 100%;
}

.project-description {
  user-select: none;
  position: absolute;
  left: 100%;
  transition: left 0.5s ease-out;
  color: white;

  background-color: rgba(55, 55, 55, 0.7);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-description.showed {
  left: 0;
  transition: left 0.5 ease-out;
}

@media (min-width: 75em) {
  .description-container:hover>* {
    left: 0;
    transition: left 0.5 ease-out;
  }
}

.project-description .button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.project-description .button:hover {
  background-color: white;
  color: black;
}

#projectsSection .button {
  margin-bottom: 1em;
}
</style>