---
import ProjectItem from "../ProjectItem.astro";
import Section from "../Section.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects")
---

<Section id='projectsSection'>
  <div class="projects__container">
      <h2 class="title">Projects</h2>
      <div class="projects">
        {
          allProjects.map((project)=> (
            <ProjectItem project={project} />
          ))
        }
      </div>
  </div>
  <a class="button medium-font" href="https://github.com/edwarhman" target="_blank">See more</a>
</Section>
<style>

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects {
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  margin: auto;
  margin-top: 3rem;
  width: fit-content;
  display: block;
}

@media (min-width: 75em) {
  .projects__container {
    align-items: center;
  }
}

</style>