<section id="projectsSection" class="main-section">
      <h2 class="big-font title">My projects</h2>
      <p>
        Take a look at the projects I've worked recently using HTML, CSS and
        JavaScript.
      </p>

      <div class="projects container medium-font">
        <div class="project-card">
          <img
            class="project-image"
            src="images/calculator.png"
            alt="js calculator"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Js Calculator</h2>
              <p>
                A simple calculator for the web. Do your calculations quickly.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/yLoNNbY"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="images/guess-the-number.png"
            alt="guess the number"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Guess The Number</h2>
              <p>
                Can you guess the number before you run out of turns? Try it!
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/wvgwavX"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="./images/tic-tac-toe.png"
            alt="tic tac toe"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Tic Tac Toe Game</h2>
              <p>
                Multiplayer tic tac toe game for the web. Have a funny time with
                your friends.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/VwWEbzO"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="./images/javascript-documentation.png"
            alt="JavaScript documentation page"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>JavaScript Documentation Page</h2>
              <p>
                Know the basic concepts and behaviors of the programming
                language JavaScript.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/XWpzRrK"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
        <div class="project-card">
          <img
            class="project-image"
            src="./images/reaction-game.png"
            alt="reaction game"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Reaction Videogame</h2>
              <p>A simple multiplayer game of reaction.</p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/pen/zYdZONd"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
        <div class="project-card">
          <img
            class="project-image"
            src="./images/survey-form.png"
            alt="survey form"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Survey Form</h2>
              <p>Fake survey form for FreeCodeCamp.</p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/QWGqRYR"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
      </div>
      <button class="button">
        <a href="https://codepen.io/edwarhman" target="_blank">See more</a>
      </button>
    </section>