---
import Navigation from '@/components/Navigation.astro';
import Layout from '../layouts/Layout.astro';
import NavItem from '@/components/NavItem.astro';
---

<Layout title="Emerson Warhman Portfolio">
	
	<Navigation id="nav-bar">
		<NavItem href="#" active>hello</NavItem>
        <NavItem href="#projectsSection">projects</NavItem>
        <NavItem href="#contact-section">contact</NavItem>
	</Navigation>
    <section id="welcome-section" class="main-section welcome">
      <div class="introduction__container">
        <h1 class="huge-font">Hello! My name is Emerson Warhman</h1>
        <p class="subtitle medium-font">I'm a Front-end web developer</p>
      </div>
    </section>
    <section id="projectsSection" class="main-section">
      <h2 class="big-font title">My projects</h2>
      <p>
        Take a look at the projects I've worked recently using HTML, CSS and
        JavaScript.
      </p>

      <div class="projects container medium-font">
        <div class="project-card">
          <img
            class="project-image"
            src="images/calculator.png"
            alt="js calculator"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Js Calculator</h2>
              <p>
                A simple calculator for the web. Do your calculations quickly.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/yLoNNbY"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="images/guess-the-number.png"
            alt="guess the number"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Guess The Number</h2>
              <p>
                Can you guess the number before you run out of turns? Try it!
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/wvgwavX"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="./images/tic-tac-toe.png"
            alt="tic tac toe"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Tic Tac Toe Game</h2>
              <p>
                Multiplayer tic tac toe game for the web. Have a funny time with
                your friends.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/VwWEbzO"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>

        <div class="project-card">
          <img
            class="project-image"
            src="./images/javascript-documentation.png"
            alt="JavaScript documentation page"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>JavaScript Documentation Page</h2>
              <p>
                Know the basic concepts and behaviors of the programming
                language JavaScript.
              </p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/XWpzRrK"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
        <div class="project-card">
          <img
            class="project-image"
            src="./images/reaction-game.png"
            alt="reaction game"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Reaction Videogame</h2>
              <p>A simple multiplayer game of reaction.</p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/pen/zYdZONd"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
        <div class="project-card">
          <img
            class="project-image"
            src="./images/survey-form.png"
            alt="survey form"
          />
          <div class="description-container">
            <section class="project-description">
              <h2>Survey Form</h2>
              <p>Fake survey form for FreeCodeCamp.</p>
              <button class="button">
                <a
                  href="https://codepen.io/edwarhman/full/QWGqRYR"
                  target="_blank"
                  >view project</a
                >
              </button>
            </section>
          </div>
        </div>
      </div>
      <button class="button">
        <a href="https://codepen.io/edwarhman" target="_blank">See more</a>
      </button>
    </section>
    <section id="contact-section" class="main-section">
      <h2 class="huge-font title">Let's work together</h2>
      <button class="button big-font" id="contact-button">Email me</button>
      <div class="contact-links__container">
        <p class="description">You can also reach me on:</p>
        <ul class="no-bullet contact-links big-font">
          <li>
            <a
              href="https://www.linkedin.com/in/emersonwarhman/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/edwarhman" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/edwarhman" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
    </section>
    <dialog id="emailForm">
      <div class="form-content">
        <span id="closeModalBtn" class="big-font">X</span>
        <form id="contact-email-form" method="POST" netlify>
          <div class="fcf-form-group">
            <label for="Name" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
              <input
                type="text"
                id="Name"
                name="Name"
                class="fcf-form-control"
                required
              />
            </div>
          </div>
          <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Your email address</label>
            <div class="fcf-input-group">
              <input
                type="email"
                id="Email"
                name="Email"
                class="fcf-form-control"
                required
              />
            </div>
          </div>
          <div class="fcf-form-group">
            <label for="Message" class="fcf-label">Your message</label>
            <div class="fcf-input-group">
              <textarea
                id="Message"
                name="Message"
                class="fcf-form-control"
                rows="6"
                maxlength="3000"
                required
              ></textarea>
            </div>
          </div>
          <div class="fcf-form-group btn-container">
            <button type="submit" id="submitButton" class="button medium-font">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </dialog>
	<script>
		const navLinks = [].slice.call(document.querySelectorAll(".nav-link"));
		const projectsCards = Array.from(document.querySelectorAll(".project-card"));
		const sections = Array.from(document.querySelectorAll(".main-section"));
		const contactBtn = document.getElementById("contact-button");
		const emailForm = document.getElementById("emailForm");
		const closeModalBtn = document.getElementById("closeModalBtn");

		function isElementInRange(el, strict, top, bottom, left, right) {
		const rect = el.getBoundingClientRect();
		if (strict) {
			return (
			rect.top >= top &&
			rect.bottom <= bottom &&
			(left === undefined || rect.left >= left) &&
			(right === undefined || rect.right <= right)
			);
		}

		return (
			(top >= rect.top && bottom <= rect.bottom) ||
			(rect.top >= top && rect.top <= bottom) ||
			(rect.bottom >= top && rect.bottom <= bottom) ||
			(left >= rect.bottom && right <= rect.right) ||
			(rect.left >= left && rect.left <= right) ||
			(rect.right >= left && rect.right <= right)
		);
		}

		document.addEventListener("click", (e) => {
		const navLink = e.target.parentElement;
		if (navLinks.indexOf(navLink) >= 0) {
			navLinks.forEach((el) => {
			el.classList.remove("active");
			});
			console.log(e.target.parentElement);
			e.target.parentElement.classList.add("active");
		}
		});

		document.addEventListener("scroll", () => {
		if (document.documentElement.clientWidth < 460) {
			const cardRect = projectsCards[0].getBoundingClientRect();
			projectsCards.forEach((card) => {
			if (isElementInRange(card, true, 0, cardRect.height * 2.5)) {
				console.log(`card ${card} is in range`);
				card.lastElementChild.firstElementChild.classList.add("showed");
			} else {
				card.lastElementChild.firstElementChild.classList.remove("showed");
			}
			});
		}

		sections.forEach((section, index) => {
			if (
			isElementInRange(
				section,
				false,
				window.innerHeight * 0.3,
				window.innerHeight * 0.5
			)
			) {
			navLinks.forEach((link) => link.classList.remove("active"));
			navLinks[index].classList.add("active");
			}
		});
		});

		contactBtn.addEventListener("click", () => {
		emailForm.showModal();
		});

		closeModalBtn.addEventListener("click", () => {
		emailForm.close();
		});
	</script>
</Layout>
