<dialog id="emailForm">
      <div class="form-content">
        <span id="closeModalBtn" class="big-font">X</span>
        <form id="contact-email-form" method="POST">
          <div class="fcf-form-group">
            <label for="Name" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
              <input
                type="text"
                id="Name"
                name="Name"
                class="fcf-form-control"
                required
              />
            </div>
          </div>
          <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Your email address</label>
            <div class="fcf-input-group">
              <input
                type="email"
                id="Email"
                name="Email"
                class="fcf-form-control"
                required
              />
            </div>
          </div>
          <div class="fcf-form-group">
            <label for="Message" class="fcf-label">Your message</label>
            <div class="fcf-input-group">
              <textarea
                id="Message"
                name="Message"
                class="fcf-form-control"
                rows="6"
                maxlength="3000"
                required
              ></textarea>
            </div>
          </div>
          <div class="fcf-form-group btn-container">
            <button type="submit" id="submitButton" class="button medium-font">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </dialog>