
<nav id="nav-bar" class="nav">
  <ul class="no-bullet nav__links">
    <span class="octagon">
      <li class="nav-link active"><a href="#welcome-section">about me</a></li>
    </span>
    <li class="nav-link"><a href="#experience-section">experience</a></li>
    <li class="nav-link"><a href="#projectsSection">projects</a></li>
    <li class="nav-link"><a href="#contact-section">contact</a></li>
  </ul>
</nav>

<style>

/* nav-bar styles */
.nav {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  user-select: none;
  background-color: var(--aux-font-color);
  font-weight: bold;
  padding: 1rem 0;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 25.85em) {
  .nav__links {
    justify-content: center;
    gap: 2rem;
  }

  .nav-link {
    margin-right: 2.5rem;
  }
}

.nav-link {
  line-height: 2em;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid var(--main-color);
  height: 0.1em;
  width: 100%;
  bottom: 0.2em;
  left: -100%;
  transition: left 0.3s ease-out;
}

.nav-link:hover::before {
  left: 0;
  transition: left 0.3s ease-out;
}

.nav-link.active {
  color: var(--main-color);
  transition: color 0.15s ease-out;
}

nav {
  background: transparent;
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 1000px;
}

@keyframes blur {
  to {
  box-shadow:
    0 5px 50px -5px hsla(0, 0, 100%, 0.2),
    0 0 0 1 transparent;
  backdrop-filter: blur(10px);
  background: rgba(225,225,225, 0.05);
}
}
</style>
