---
import Sun from "@/assets/icons/Sun.astro";
import Moon from "@/assets/icons/Moon.astro";
import System from "@/assets/icons/System.astro";
---
<nav id="nav-bar" class="nav">
  <ul class="no-bullet nav__links">
    <li class="nav-link active"><a href="#welcome-section">about me</a></li>
    <li class="nav-link"><a href="#experience-section">experience</a></li>
    <li class="nav-link"><a href="#projectsSection">projects</a></li>
    <li class="nav-link"><a href="#contact-section">contact</a></li>
  </ul>
</nav>
<fieldset>
    <label>
      <input type="radio" name="color-scheme" id="color-scheme-light" value="0">
      <Sun />
    </label>
    <label>
      <input type="radio" name="color-scheme" id="color-scheme-system" value="auto" checked>
      <System />
    </label>
    <label>
      <input type="radio" name="color-scheme" id="color-scheme-dark" value="1">
      <Moon />
    </label>
</fieldset>

<style>

.nav {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  user-select: none;
  background: transparent;
  font-weight: bold;
  padding: 1rem 0;
  animation: noise linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

fieldset {
  border: none;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 3rem;
  position: fixed;
  right: 15px;
  animation: noise linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

fieldset input {
  display: none;
}

fieldset label {
  display: none;
  transition: all 0.3s ease-out;
}

fieldset:hover label, fieldset:focus label {
  display: initial;
}

fieldset label:has(input:checked) {
  display: initial;
}

html:has(input:checked) {
  color: yellow !important;
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link:not(:has(fieldset)) {
  line-height: 2em;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-out;
}

.nav-link:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid var(--main-color);
  height: 0.1em;
  width: 100%;
  bottom: 0.2em;
  left: -100%;
  transition: left 0.3s ease-out;
}

.nav-link:hover::before {
  left: 0;
  transition: left 0.3s ease-out;
}

.nav-link.active {
  color: var(--main-color);
  transition: color 0.15s ease-out;
}

@media (prefers-color-scheme: dark) {
  @container root style(--systemtheme: 1) {
    .nav, fieldset {
      background: transparent;
      animation: blur linear both;
      animation-timeline: scroll();
      animation-range: 0 600px;
    }
  }
}

@container root style(--darkmode: 1) {
  .nav, fieldset {
    background: transparent;
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 600px;
  }

}

@keyframes noise {
  to {
  box-shadow:
    0 5px 50px -5px hsla(0, 0, 100%, 0.2),
    0 0 0 1 transparent;
  backdrop-filter: blur(7px);
  background: var(--noisy-bg);
}
}
@keyframes blur {
  to {
  box-shadow:
    0 5px 50px -5px hsla(0, 0, 100%, 0.2),
    0 0 0 1 transparent;
  backdrop-filter: blur(12px);
  background: rgba(225,225,225, 0.1);
}
}

@media (min-width: 25.85em) {
  .nav__links {
    justify-content: center;
    gap: 2rem;
  }

  .nav-link {
    margin-right: 2.5rem;
  }
  fieldset {
    padding: 0.2rem 0.8rem;
    top: 11px;
    z-index: 2000;
    height: fit-content;
    flex-direction: row;
    gap : 1rem;
    animation: none;
    background: transparent;
  }
}
</style>
