---
export interface Props {
  id: string;
}
const { id } = Astro.props;
---

<section id={id} class="main-section">
    <slot />
</section>
<style>
/* website sections */
.main-section {
  padding-top: 10vh;
}
</style>