---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
      src="https://kit.fontawesome.com/9fc33c5ba3.js"
      crossorigin="anonymous"
    ></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
/* Custom properties / variables */
:root {
  --main-color: red;
  --aux-color: gold;
  --bg-color: gray;
  --main-font-color: black;
  --secondary-font-color: #555;
  --aux-font-color: white;
  --small-font-size: 1.1rem;
  --medium-font-size: 2.3rem;
  --big-font-size: 3.5rem;
  --huge-font-size: 8rem;
}

/* base reset */
* {
  margin: 0;
  padding: 0;
}

/* box sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px */
  scroll-behavior: smooth;
}

/* different screen font sizes media queries */
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "ubuntu condensed", sans-serif;
  font-size: 1.8rem;
  color: var(--main-font-color);
  max-width: 900px;
  padding: 0 1rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  color: var(--main-color);
}

h2 {
  font-size: var(--medium-font-size);
  text-transform: uppercase;
}

p {
  margin-bottom: 0.5rem;
}

/* Components */

.subtitle {
  color: var(--main-color);
  font-style: italic;
}

.no-bullet {
  list-style: none;
}

.button {
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--main-color);
  background-color: var(--aux-font-color);
}

button:hover {
  color: var(--main-color);
}

button:active {
  background-color: rgba(55, 55, 55, 0.1);
  color: var(--aux-font-color);
}

/* website font sizes */
.small-font {
  font-size: var(--small-font-size);
}

.medium-font {
  font-size: var(--medium-font-size);
}

.big-font {
  font-size: var(--big-font-size);
}

.huge-font {
  font-size: var(--huge-font-size);
}


</style>
