/* Custom properties / variables */
:root {
  --main-color: red;
  --aux-color: gold;
  --bg-color: gray;
  --main-font-color: black;
  --aux-font-color: white;
}

/* base reset */
* {
  margin: 0;
  padding: 0;
}

/* box sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

/* different screen font sizes media queries */
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "ubuntu condensed", sans-serif;
  font-size: 1.8rem;
  color: var(--main-font-color);
  padding: 0 1rem;
  margin: auto;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-height: 100%;
  width: 100%;
}
/* Components */

.subtitle {
  color: var(--main-color);
  font-style: italic;
}
.no-bullet {
  list-style: none;
}

.button {
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--main-color);
  background-color: var(--aux-font-color);
}

button:hover {
  color: var(--main-color);
}

button:active {
  background-color: rgba(55, 55, 55, 0.1);
  color: var(--aux-font-color);
}

/* website font sizes */
.small-font {
  font-size: .85rem;
}
.medium-font {
  font-size: 2.3rem;
}
.big-font {
  font-size: 3.5rem;
}
.huge-font {
  font-size: 8rem;
}


/* nav-bar styles */
.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  user-select: none;
  background-color: var(--aux-font-color);
  font-weight: bold;
  height: 5vh;
}

.nav__links {
  display: flex;
  /* width: 40%; */
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 25.85em) {
  .nav__links {
    justify-content: flex-end;
  }

  .nav-link {
    margin-right: 2.5rem;
  }
}

.nav-link {
  line-height: 2em;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: color .3s ease-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid var(--main-color);
  height: 0.1em;
  width: 100%;
  bottom: 0.2em;
  left: -100%;
  transition: left 0.3s ease-out;
}
.nav-link:hover::before {
  left: 0;
  transition: left 0.3s ease-out;
}
.nav-link.active {
  color: red;
  transition: color .15s ease-out;
}

/* website sections */
.main-section {
  padding-top: 5vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Welcome section */

.introduction__container {
  text-align: center;
}

/* Proyects Section */

.projects.container {
  width: 100%;
  max-width: 1280px;
  margin-bottom: 3rem;
  padding: 0 2rem 0 2rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4vh;
}

.project-card { 
  background-color: palegreen;
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 5px gray, -1px -1px 5px gray;
  border-radius: 4%;
  position: relative;
  overflow: hidden;
}
.project-card > * {
  position: absolute;
  top: 0;
  left: 0;
}
/* make a rectangular container */
.project-card::before {
  content: "";
  display: block;
  padding-top: 78%;
}

.description-container {
  height: 100%;
  width: 100%;
}

.project-description {
  user-select: none;
  position: absolute;
  left: 100%;
  transition: left .5s ease-out;
  color: white;
  
  background-color: rgba(55, 55, 55, 0.7);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-description.showed {
  left: 0;
  transition: left .5 ease-out;
}

@media (min-width: 75em) {
.description-container:hover > * {
  left: 0;
  transition: left .5 ease-out;
}
}

.project-description .button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.project-description .button:hover {
  background-color: white;
  color: black;
}

#projectsSection .button {
  margin-bottom: 1em;
}

/* contact section */

@media (min-width: 75em) {
  #contact-section .huge-font {
    font-size: 12rem;
    margin-top: 4rem;
  }
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

#contact-button {
  padding: 1.15em 1em;
  margin-top: 4rem;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.fab:hover {
  color: red;
}

